.img-login-background {
  background-image: url("C:/Users/USUARIO/Desktop/front-fesc/public/images/fondo-fesc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
